@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WADAuth.Models.Cart cart = Session["Cart"]!=null?(WADAuth.Models.Cart)Session["Cart"]:new WADAuth.Models.Cart();
}
@if (cart.CartItems.Count > 0)
{
    <h1>Giỏ hàng</h1>
<table class="table table-bordered table-striped">
    <thead>
        <th>No.</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var item in cart.CartItems)
        {
            <tr>
                <td>@item.Product.Id</td>
                <td>@item.Product.ProductName</td>
                <td>@item.Product.Price</td>
                <td>
                    <a href="javascript:void(0);"  onclick="ChangeQty(@item.Product.Id,-1)" class="btn btn-danger">-</a>
                    <input onkeypress="UpdateQty(this,@item.Product.Id)" type="number" id="qty-@item.Product.Id" value="@item.Quantity" class="form-control" />
                    <a href="javascript:void(0);" onclick="ChangeQty(@item.Product.Id,1)" class="btn btn-danger">+</a>
                </td>
                <td>@Html.ActionLink("Remove", "RemoveItem",new { id=item.Product.Id})</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="text-right" colspan="5">
                Grand Total: <span id="grandtotal">@cart.GrandTotal</span>
            </td>
        </tr>
        <tr>
            <td class="text-right" colspan="5">
                @Html.ActionLink("Checkout", "Checkout")
            </td>
        </tr>
    </tfoot>
</table>
}
else
{
    <p>Không có sản phẩm nào trong giỏ hàng</p>
}

